
EnergyCompanyConsoleApp/bin/Debug/EnergyCompanyConsoleApp.pdb
EnergyCompanyConsoleApp/bin/Debug/EnergyCompanyConsoleApp.exe
.vs/EnergyCompanyConsoleApp/v17/TestStore/0/000.testlog
.vs/EnergyCompanyConsoleApp/v17/.suo
EnergyCompanyConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EnergyCompanyConsoleApp/obj/Debug/EnergyCompanyConsoleApp.csproj.FileListAbsolute.txt
EnergyCompanyConsoleApp/obj/Debug/EnergyCompanyConsoleApp.exe
EnergyCompanyConsoleApp/obj/Debug/EnergyCompanyConsoleApp.pdb
TestProject/bin/Debug/net6.0/EnergyCompanyConsoleApp.pdb
TestProject/bin/Debug/net6.0/EnergyCompanyConsoleApp.exe
TestProject/bin/Debug/net6.0/TestProject.dll
TestProject/bin/Debug/net6.0/TestProject.pdb
TestProject/obj/Debug/net6.0/TestProject.assets.cache
TestProject/obj/Debug/net6.0/TestProject.csproj.AssemblyReference.cache
TestProject/obj/Debug/net6.0/TestProject.csproj.CoreCompileInputs.cache
TestProject/obj/Debug/net6.0/TestProject.csproj.FileListAbsolute.txt
TestProject/obj/Debug/net6.0/TestProject.dll
TestProject/obj/Debug/net6.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
TestProject/obj/Debug/net6.0/TestProject.genruntimeconfig.cache
TestProject/obj/Debug/net6.0/TestProject.pdb
TestProject/obj/project.assets.json
TestProject/obj/project.nuget.cache
TestProject/obj/TestProject.csproj.nuget.dgspec.json
*.exe
EnergyCompanyConsoleApp/bin/Debug/EnergyCompanyConsoleApp.pdb
EnergyCompanyConsoleApp/bin/Debug/EnergyCompanyConsoleApp.exe
.vs/EnergyCompanyConsoleApp/v17/TestStore/0/000.testlog
.vs/EnergyCompanyConsoleApp/v17/.suo
EnergyCompanyConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EnergyCompanyConsoleApp/obj/Debug/EnergyCompanyConsoleApp.csproj.FileListAbsolute.txt
EnergyCompanyConsoleApp/obj/Debug/EnergyCompanyConsoleApp.exe
EnergyCompanyConsoleApp/obj/Debug/EnergyCompanyConsoleApp.pdb
TestProject/bin/Debug/net6.0/EnergyCompanyConsoleApp.pdb
TestProject/bin/Debug/net6.0/EnergyCompanyConsoleApp.exe
TestProject/bin/Debug/net6.0/TestProject.dll
TestProject/bin/Debug/net6.0/TestProject.pdb
TestProject/obj/Debug/net6.0/TestProject.assets.cache
TestProject/obj/Debug/net6.0/TestProject.csproj.AssemblyReference.cache
TestProject/obj/Debug/net6.0/TestProject.csproj.CoreCompileInputs.cache
TestProject/obj/Debug/net6.0/TestProject.csproj.FileListAbsolute.txt
TestProject/obj/Debug/net6.0/TestProject.dll
TestProject/obj/Debug/net6.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
TestProject/obj/Debug/net6.0/TestProject.genruntimeconfig.cache
TestProject/obj/Debug/net6.0/TestProject.pdb
TestProject/obj/project.assets.json
TestProject/obj/project.nuget.cache
TestProject/obj/TestProject.csproj.nuget.dgspec.json
